.row-header{
    margin:0px auto;
    padding:0px auto;
}
.row-content{
    margin:0px auto;
    padding:50px 0px 70px 0px;
    border-bottom: 1px ridge;
    min-height: 450px;
}
.row-footer{
    background-color:#AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;    
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #7986CB;
    color: floralwhite;
}
address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
body{
    padding 50px 0px 0px 0px;
    z-index:0;
}
.navbar-inverse{
    background: #303f9F;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
    color:#fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open >a,
.navbar-inverse .navabr-nav > .open >a:hover,
.navbar-inverse .navbar-nav > .open >a:focus{
    color: #fff;
    background: #1A237E; 
} 

.navbar-inverse .navabar-nav .open .dropdown-menu > li >a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color :#303f9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li >a:hover{
    color: #000000;
}

.breadcrumb {
    background-color: cornflowerblue;
}
.breadcrumb > li > a{
    color: white;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding:10px;
}
.affix{
    top:100px;
    width:213px;
}
.nav .nav-pills .nav-stacked{
    width: 213px;
}
.carousel{
    background: #1A237E;
}
.carousel .item{
    height: 300px;
}
.item img{
    position :absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.cus1{
    width: 50%;
    height: 50%;
}
#carouselButtons{
    right: 0px;
    position:absolute;
    bottom:0px;
}